<h1>Find a stock price</h1>

<div class="container">
    <form action="/stocks/price">
        <input type="text" name="stock" placeholder="enter stock symbol (e.g: goog)">
        <button>Get Price</button>
    </form>
</div>