<form action="/calc">
  <label for="">1st Number</label>
  <input type="number" placeholder="enter a number" name="x">

  <label for="">Operation</label>
  <input type="text" placeholder="enter + - / or *" name="operator">

  <label for="">2nd Number</label>
  <input type="number" placeholder="enter a number" name="y">

  <button>Calculate</button>
</form>