<h1>Book Info Search</h1>

<div class="container">
    <form action="/books/info">
        <input type="text" name="book_title" placeholder="Enter book title">
        <button>Search</button>
    </form>
</div>