<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="Butterfly name">

    <label for="">Family:</label>
    <input type="text" name="family" placeholder="Butterfly family">

    <label for="">Name:</label>
    <input type="url" name="image" placeholder="http://(image url)">

    <button>Create Butterfly</button>
</form>