* {
  /* color: rgba(150, 197, 247, 1);
color: rgba(169, 211, 255, 1); */
}

body {
  background: rgba(108, 117, 107, 1);
  color: rgba(242, 244, 255, 1);
}

nav a {
  text-decoration: none;
  color: rgba(150, 197, 247, 1);
  font-size: 30px;
}

.container {
  background: rgba(147, 172, 181, 1);
  padding: 1em;
  max-width: 960px;
  margin: auto;
  border-radius: 0 0 0.5em 0.5em;
}

header h1 {
  text-align: center;
  background: #3a413a;
  padding: 1em 0;
}

main {
  display: flex;
  justify-content: space-between;
}

main img{
  margin-right: 20px;
}

main p{
  margin: 0;
}
