<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Layouts Demo</title>
</head>

<body>
    <div class="container">



        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Title</h1>
        </header>

        <main>
            <h2>Content Here</h2>
            <img src="http://fillmurray.com/400/600" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus asperiores labore blanditiis quis, ea
                enim eligendi aspernatur iusto esse facilis quae delectus cupiditate a ducimus sunt nisi voluptas? Odio,
                sapiente.
            </p>
        </main>
        <aside>
            <h3>Fun Facts</h3>
            <ul>
                <li>groucho</li>
                <li>harpo</li>
                <li>chico</li>
                <li>gummo</li>
            </ul>
        </aside>
    </div>

</body>

</html>